<hello name="{{ name }}"></hello>
<p>
	Welcome to the Product Development Homepage. This is a base project for
	recording anad analyzing data to support product development.
</p>

<app-programs></app-programs>


<!-- MSAL EXAMPLE-->
<mat-toolbar color="primary">
	<a class="title" href="/">{{ name }}</a>

	<div class="toolbar-spacer"></div>
	<!-- Elements related to login-->
	<!--	<a mat-button [routerLink]="['profile']">Profile</a>-->

	<!--	<button mat-raised-button *ngIf="!loggedIn" (click)="login()">Login</button>-->
	<!--	<button mat-raised-button *ngIf="loggedIn" (click)="logout()">Logout</button>-->
</mat-toolbar>

<!-- Elements related to login-->
<!--
  <div class="container">
	router-outlet *ngIf="!isIframe"></router-outlet> 
</div>
-->